@using WebListaGenerica.Models.Business.Entitys
@model List<EntMascota>
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/Mascotas.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div class="row">
        @foreach (EntMascota m in Model)
        {
            <div class="photo">
                <img src="https://placedog.net/250/250?random">
                <p>Hola, mi nombre es @m.Nombre.</p>
            </div>
        }
    </div>
</body>
</html>
